<% if @winner.present? %>
  <% if invalid?(@winner) %>
    <%= render 'invalid' %>
  <% else %>
    <%= render 'success' %>
  <% end %>
<% end %>

<br />

<div class='d-flex justify-content-center'>
  <%= link_to 'Play again', games_path, class: 'btn btn-primary' %>
</div>

