<h1 class='text-center'>Rock-Paper-Scissors Game</h1>

<p id='description'>
  Rock, Paper, Scissors is a hand game played by two people.
  Each hand shape (Rock, Paper, Scissors) has specific strengths:

<ul>
  <li>Rock beats Scissors</li>
  <li>Scissors cut Paper</li>
  <li>Paper covers Rock</li>
  <li>!!! Hammer can defeat Scissors and Paper but loses to Rock !!!</li>
</ul>
</p>

<br />
